option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: my_site.wsgi:application

--zip the following files & folders into a zip file => elastic bean stalk source code origin upload
#uploads
#templates
#staticfiles
#requirements.txt
#project-folder
#app-folder
#manage.py
#db file
#.ebextensions
;after uploading files -> configure more options
#modify software
#environment variables
;create app